@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* stili generali */
body {
  font-family: Roboto, sans-serif;
  color: rgb(25, 28, 31);
}
.container {
  padding: 0 15%;
}
a {
  text-decoration: none;
  color: rgb(25, 28, 31);
  opacity: 0.5;
}
a:hover {
  opacity: 1;
  transition: color 0.1s ease 0s, opacity 0.1s ease 0s;
}
.active {
  opacity: 1;
}
ul {
  list-style: none;
}
li {
  padding: 10px 25px;
}
.button {
  color: #f3f4f5;
  background-color: #191c1f;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.1s;
  cursor: pointer;
}
.uppercase {
  text-transform: uppercase;
}
.grey {
  color: #ddd;
}
.new {
  color: blue;
  vertical-align: text-bottom;
  font-size: 12px;
  font-weight: bold;
}
.fas {
  padding-right: 10px;
}
/* navbar superiore */
.header-nav-top {
  background-color: #f3f4f5;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-top-left,
.header-menu-top-right,
.header-menu {
 line-height: 40px;
 display: flex;
 flex-wrap: nowrap;
 justify-content: flex-start;
}
.header-menu-top-right {
  justify-content: flex-end;
}
.header-menu-top-left li:first-of-type {
  padding-left: 0;
}
.header-menu-top-right li:last-of-type {
  padding-right: 0;
}
/* navbar inferiore */
.header-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* dropdown menu */
.parent-dropdown {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  left: -20px;
  top: 60px;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 4px #ccc);
  min-width: 150px;
  padding: 10px 0;
}
.dropdown::before {
  position: absolute;
  top: -10px;
  left: 40px;
  content: '';
  display: block;
  background-color: white;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.dropdown .inner {
  width: 100%;
  height: 100%;
}
.menu-dropdown {
  display: flex;
  flex-flow: column nowrap;
}
.menu-dropdown li {
  padding: 5px 20px;
  white-space: nowrap;
}
/* jumbo */
.jumbo-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.jumbo-info {
  flex-basis: 40%;
}
.jumbo-img {
  flex-basis: 50%;
}
.jumbo-info h1 {
  font-size: 80px;
  font-weight: bold;
  padding: 40px 0;
}
.jumbo-info p {
  opacity: 0.5;
  font-size: 18px;
}
.jumbo-form {
  padding: 40px 0;
}
.jumbo-form input,
.jumbo-form select {
  border: none;
  border-bottom: 1px solid rgba(25, 28, 31, 0.5);
  height: 30px;
  margin-right: 20px;
}
.jumbo-info p:last-of-type {
  opacity: 1;
}
.jumbo-img img {
  height: 600px;
}
